* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    background-image: url(./img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.fightarea {
    display: flex;
    gap: 20px;
}

#char,
#monster {
    flex: 1;
}

.lifebar {
    height: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.lifebar .bar {
    height: inherit;
    background-color: red;
    border-radius: 5px;
    margin-top: 5px;
}

.log {
    border: 1px dotted #000;
    height: 200px;
    overflow-y: scroll;
    border-radius: 20px;
    background-color: #CCC;
}

.attackButton {
    width: 100px;
    height: 30px;
    margin: 10px;
    font-size: 18px;
    border-radius: 10px;
}

.name {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 16px;
}

.button {
    display: flex;
    justify-content: center;
}

.log li{
    list-style-type: none;
    margin-top: 10px;
}
